[submodule "WshModules/WshJest"]
	path = WshModules/WshJest
	url = https://github.com/tuckn/WshJest.git
[submodule "WshModules/WshZLIB"]
	path = WshModules/WshZLIB
	url = https://github.com/tuckn/WshZLIB.git
